# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter / notebooks (ako ih bude)
*.ipynb_checkpoints

# Rust / Cargo
target/

# Editor / IDE
.vscode/
.idea/

# OS fajlovi
Thumbs.db
Desktop.ini
.DS_Store

# Projektni output
data/
results/

# Dokumentacija i izveštaji (Markdown)
*.md

